.Logo {
 border: solid 1px white;
 border-radius: 100px;
 margin:15px;
}
body {
background-color: darkslategray;
}
.Container {
 background-color:black;
}

.James {
 border: solid 1px white;
 border-radius: 100px;
 margin:15px;
}